header {
  width: 100%;
  background-color: $color-dark-grey;
  color: $color1;
  position: sticky;
  top: 0;
  z-index: 1;

  nav {
    display: flex;
    max-width: $max-width;
    margin: auto;

    ul {
      display: flex;
      margin: 0 auto;
      height: 50px;

      a {
        text-decoration: none;
        text-decoration-color: $color1;
        text-decoration-line: none;
        text-decoration-style: solid;
        color: $color1;
      }

      div {
        height: 100%;
        display: flex;
        align-items: center;
        transition: background-color 0.2s, color 0.2s;

        li {
          list-style: none;
          width: 150px;
          text-align: center;
          font-weight: bold;
          font-size: 1.4em;
        }

        &:hover {
          background-color: $color1;
          color: $color-dark-grey;
        }
      }

      .listeDeroulante {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & > li {
          cursor: default;
          pointer-events: none;
          position: relative;
        }

        &:hover > .list-cont {
          height: 100px;
        }

        .list-cont {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 50px;
          height: 100px;
          background-color: $color1;
          color: $color-dark-grey;
          transition: height 0.5s;
          height: 0;
          overflow: hidden;

          a {
            color: $color-dark-grey;
          }

          &__items {
            display: flex;
            flex-direction: column;

            &:hover {
              background-color: $color-dark-grey;
              color: $color1;
            }

            li {
              display: flex;
              flex-direction: column;
              justify-content: center;
              height: 50px;
            }
          }
        }
      }
    }
  }
}
